@font-face {
  font-family: "varsity";
  src: url("./font/varsity_regular.ttf");
  /* font-weight: 300; */
}

/* @font-face { ejemplo
  font-family: "varsity";
  src: url("./font/varsity_medium.ttf");
  font-weight: 500;
} */
